.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 10ms;
  -webkit-transition: 10ms
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #51a78d;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.header h1 {
  font-size: 4.6vh;
  opacity: 0.9;
  top: 50%
}

.login {
  position: absolute;
  right: 1%;
}

.navigation {
  display: flex;
  flex-direction: column;

}

.navigation li {
  display: inline-block;
  list-style-type: none;
  margin: 0.5vw;
  width: 7vw;
  height: 1.3vw;
  background-color: bisque;
  border-radius: 10px;
  transition: 100ms;
}

.navigation a {
  font-size: 19px;
  display: block;
  width: 7vw;
  height: 1.1vw;
}

.navigation li:hover {
  background-color: rgb(173, 155, 133);
}

.navigation li:active {
  background-color: rgb(122, 109, 94);
}

.navigation li.active {
  background-color: #2786af;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.slides {
  padding-top: 5%;
  width: 900px;
  height: 700px;
}

.home {
  padding-top: 3vh;
  width: 60vw;
}

.home h1 {
  font-size: 40px;
}

.home p {
  padding-top: 2%;
  font-size: 20px;
}

.community {
  padding-top: 3vh;
}

.community h1 {
  font-size: 35px;
}

.community p {
  padding-top: 2%;
  font-size: 20px;
}

.new-story-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 90vh;
}

.file-uploader {
  width: fit-content !important;
}

.new-story-form input {
  position: relative;
  width: 300px;
  right: 0%;
  padding: 0.5%;
  margin: 1.4%;
}

.new-story-form img {
  width: 170px;
  height: 170px;
}

.add-page {
  cursor: pointer;
  width: 50px !important;
  height: 50px !important;
}

